<div class="px-4">
  <p style="color: green"><%= notice %></p>

  <div id="rooms">
    <% @rooms.each do |room| %>
      <%= render room %>
      <p>
        <%= link_to "Show this room", room %>
      </p>
    <% end %>
  </div>

  <%= link_to "New room", new_room_path %>
</div>
